<h1>Search for a Houseplant</h1>
<form>
    <input type="text" id="plantName" name="plantName" placeholder="Enter a plant name">
    <button type="submit">Search</button>
</form>
{{!-- {{{findPlant searchResult plants}}}  --}}

<script src="./js/homepage.js"></script>