<section class="plant">
  <img src="/images/{{plant.filename}}" alt="{{plant.description}}">
  <div class="plant-details">
    <h3>{{plant.name}}</h3>
    <p>{{plant.description}}</p>
  </div>
</section>
